<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
	<meta name="author" content="Ranajoy, Anant">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/jpg" href="/static/log1.png" size="32x32">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='logincss.css')}}" media="all"  />
  	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='bootstrap.min.css')}}" media="all" />
	<title>REGISTER</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<a href="/">
				<span class="col-md-2 col-xs-4 text-center linkbutton" tabindex="13">HOME</span>
			</a>
			<h2 class="col-md-10 col-xs-8 text-center titlel">
				Please Brief Yourself Before Going Ahead
			</h2>
		</div>
		<div class="row">
			<hr class="shades">
		</div>
		<div class="row" align="center"><span class="image"><img src="/static/logo.jpg" align="center" alt="" style="align=center;border-style: solid; border-width:0.5px;border-radius:50%; max-height: 10%; max-width: 10%;" /></span>
			<span class="col-md-12 col-xs-12 text-center animatere pulse">
				REGISTER
			</span>
		</div>
	</div><h1 align="center" style="text-decoration:underline;color:white; margin:1em auto -1em auto;font-size: 15pt; ">{{msg}}</h1>
	<div class="container formt text-center" style="border-style:double; border-width:5px; border-left:hidden;border-right:hidden; border-radius:20px; margin-top:25px; margin-bottom:25px;">
	<h1 align="center" style="text-decoration:underline;color:white; margin:2em auto 0em auto;font-size: 15pt; ">{{error}}</h1>
      <div  class="form" align="center">
		<form style="margin-top: 15px;" action = "{{ url_for('addrec') }}" method = "POST">
			<div class="form-group row">
				<label for="name" class="col-md-2 col-xs-4 text-align">Name</label>
				<input type="text" class="form-control col-md-4 col-xs-6" name="name" placeholder="First and Last Name" tabindex="1" required>
			</div>

			<div class="form-group row">
				<label for="Roll_Number" class="col-md-2 col-xs-4 text-align">Roll No</label>
				<input type="text" name="Roll_Number" class="form-control col-md-4 col-xs-6" placeholder="Roll_Number" tabindex="2" required>
			</div>
			<div class="form-group row">
				<label for="phone" class="col-md-2 col-xs-4 text-align">E-Mail </label>
				<input type="email" name="email" class="form-control col-md-4 col-xs-6" placeholder="E-Mail ID" required tabindex="3">
			</div>
			<div class="form-group row">
				<label for="College" class="col-md-2 col-xs-4 text-align">College</label>
				<input type="text" class="form-control col-md-4 col-xs-6" name="college" placeholder="College" tabindex="4" required>
			</div>
			<div class="form-group row">
				<label for="university" class="col-md-2 col-xs-4 text-align">University</label>
				<input type="text" class="form-control col-md-4 col-xs-6" name="university" placeholder="University" tabindex="5" required>
			</div>
			<div class="form-group row">
				<label for="password" class="col-md-2 col-xs-4 text-align">Password:</label>
				<input type="password" class="form-control col-md-4 col-xs-6" name="password" placeholder="Password" tabindex="6" required>
			</div>
			<div class="form-group row">
				<label for="repassword" class="col-md-2 col-xs-4 text-align">Re-enter:</label>
				<input type="password" class="form-control col-md-4 col-xs-6" name="repassword" placeholder="Confirm Password" tabindex="7" required>
			</div>
			<div class="form-group row">
				<label for="phone" class="col-md-2 col-xs-4 text-align">Phone</label>
				<input type="text" name="phone" class="form-control col-md-4 col-xs-6" placeholder="Phone" required tabindex="8">
			</div>

			<div class="form-group row">
				<label for="phone" class="col-md-2 col-xs-4 text-align">Course & Semester</label>
				<input type="text" name="semester" class="form-control col-md-4 col-xs-6" placeholder="BCA Sem1 / MCA sem2 etc.." required tabindex="9">
			</div><br/>
			<div align="center"><strong>{{num1}} + {{num2}}</strong><br/></div>
				<div class="form-group row" >
	                <input type="hidden" value="{{num1}}" name='numb1'>
	                <input type="hidden" value="{{num2}}" name="numb2" style="display: hidden">
	                <label for="phone" class="col-md-2 col-xs-4 text-align" >captcha!</label>
		            <input type="text" name="check" class="form-control col-md-4 col-xs-6" placeholder="Enter the summation ::" required tabindex="10" />
		        </div>
			<div class="row">
				<button type="submit" class="btn btn-default" tabindex="11">Sign Me Up!</button>
			</div>
			<div class="row">
				<a href="/login" class="col-md-12 registrationl" tabindex="12">
					Existing User? Login Here!
				</a>
			</div>
		</form>
	</div><footer align="center"><p>Visitors : <img src="http://www.reliablecounter.com/count.php?page=Chllengers.pythonanywhere.com&digit=style/plain/10/&reloads=0" alt="" title="" border="0" width="35px" height="15px"></a><br /></p></footer>
</body>
</html>