<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Ranajoy, Anant">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Rules</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='anscss.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/static/log1.png" size="32x32">
    <style type="text/css">
    	li{
    		font-size: 15px;
    	}
    	h4{
    		font-family:'Droid Serif', serif;
    	}
    	@media screen and (max-width: 450px) {
 		   h1{
        	font-size: 25px;
    	   }
		}
    </style>
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<span class="col-md-4 col-xs-3 h">
				<a href="#" class="ah">Home</a>
			</span>
			<span class="col-md-4 col-xs-5 text-center">
				<a href="#" class="ah">Hackathon</a>
			</span>
			<span class="col-md-4 col-xs-4 text-right h">
				<a href="{{logout}}" class="ah">Log out</a>
			</span>
		</header>
	</div>
	<div class="container text-justify" style="border: 2px solid #5D6D7E; margin-top: 20px; border-radius: 2%; padding-left: 30px; background-color: #EAECEE; margin-bottom: 15px; padding-bottom: 10px;">
		<h1 class="row" style="border-bottom:2px solid #5D6D7E; margin-right: 15px; font-family: 'Bitter', serif">Rules:</h1>
		<h4 class="row">1. Registrations</h4>
		<ul class="row">
			<li class="col-md-12">Register yourself before 24/08/2017 and by 23:59 positively. Entries after that will not be entertained.</li>
			<li class="col-md-12">Only online registrations are accepted. To register yourself <a href="/registration" style="text-decoration: none;">Click Here</a>.</li>
			<li class="col-md-12">Students are entitled for sample questions/ practice questions and a session before the actual event only after registration. </li>
		</ul>
		<h4 class="row">2. Eligibility</h4>
		<ul class="row">
			<li class="col-md-12">Only those students who have registered before the deadline are eligible to participate.</li>
			<li class="col-md-12">Students from any course and semester can register and participate.</li>
			<li class="col-md-12">Participants can choose any of the languages to code: C, C++, Java, Python, Fortran</li>
			<li class="col-md-12">Only individual participation is accepted. Team participation is not allowed</li>
		</ul>
		<h4 class="row">3. During Hackathon/Competition</h4>
		<ul class="row">
			<li class="col-md-12">The hackathon will be a 24 hours event. Starting from 26 Aug, 08:00 till 27 Aug, 07:59. The event will take place in Institute of Innovation in Technology and Management from 26 Aug, 08:00 till 26 Aug, 17:00. After that students are allowed to continue from home.</li>
			<li class="col-md-12">Participants are not allowed to start before the actual date and time. Any student who violates this rule will be automatically disqualified. The first line of code should be written on or  after  Aug 26, 08:00.</li>
			<li class="col-md-12">Internet services will be provided through out.</li>
			<li class="col-md-12">No submissions are allowed after Aug 27, 07:59. Students must submit their work before the deadline.</li>
			<li class="col-md-12">We expect students to submit their original work.</li>
		</ul>
		<h4 class="row">4. Results</h4>
		<ul class="row">
			<li class="col-md-12">Results will be declared on Sept 2.</li>
			<li class="col-md-12">Results once declared will be final. No student should object it.</li>
		</ul>
		<h4 class="row" style="padding-right: 15px;">5. Our hackathon is dedicated to provide a harassment-free experience for everyone. We do not tolerate harassment of hackathon participants in any form. Hackathon participants violating these rules may be sanctioned or expelled from the hackathon at the discretion of the hackathon organizers.</h4>
		<h4 class="row" >Hackathon staff will be happy to help participants.</h4>
		<h4 class="row">We value your attendance.</h4>
		<h4 class="row">We expect participants to follow these rules at hackathon and workshop venues and hackathon related events.</h4>
	</div>
</body>
</html>